
body {
  font-family: "Montagu Slab";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montagu Slab";
  font-weight: bold;
}

p {
  color: #787A91;
}


/* Headings */

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */

.container-fluid{
  padding: 7% 10%
}


/* Sections */

.coloured-section {
  background-color: #FFAB73;
  color: #FFF;
}

.white-section {
  background-color: #FFF;
}


/* Navigation Bar */

.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Buttons */

.btn {
  margin: 3% 3% 0;
}


/* Title Section */

#title .container-fluid {
  padding: 1% 10% 1%;
}


/* Title Image */

.bg-image {
  background-size: 100%;
  padding: 20%;
  background-image: url("../images/title-croissant.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


/* About Section */

.about-image {
  width: 100%;
  padding: 13% 3% 10% 3%;
  border-radius: 20%;
}


/* testimonials Section */

#testimonials p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.testimonials-image {
  width: 80%;
  padding: 5% 3%;
  border-radius : 20%;
}


/* Menu Section */
.menu-image {
  width: 50%;
  padding: 3% 0 5% 0;
  border-radius: 20%;
}

.menu-column {
  padding: 3% 2%;
}


/* Contact Section */

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

.contact-box {
  padding: 3%;
}


/* CTA Section */

#cta .container-fluid {
  padding: 3%;
}

#cta p{
  color: #FFF;
  font-size: 1.5rem;
}

.social-icon {
  padding: 2%;
  color: #FFF;
}

.social-icon:hover {
  color: #FF4C68;
}


/* Footer Section */

#footer {
  padding: 2%;
}

#footer p{
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
